# --- SERVER CONFIG ---
PORT=8000
NODE_ENV=development

# --- MONGODB ---
MONGODB_URI=

# --- JWT ---
JWT_SECRET=
JWT_EXPIRE=30d

# --- NODEMAILER ---
EMAIL_SERVICE=gmail
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=noreply@yourdomain.com

# --- CLOUDINARY  ---
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# --- GOOGLE OAUTH ---
GOOGLE_CLIENT_ID=